---

import { cva } from '../../styled-system/css/cva.mjs';
import '../index.css';

interface Props {
	title: string;
}

const { title } = Astro.props;

const body = cva({
  base: {
    display: 'flex',
    backgroundColor: '#f0f0f0',
    width: '100%',
    height: '100vh',
  }
});

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/06_FEM_age_calculator/assets/images/favicon-32x32.png" />
    
    <title>{title}</title>
  </head>

  <body class={ body({}) }>

    <slot />
    
  </body>

</html>
